/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
/* header */
.header-title {
  font-weight: bold;
  font-size: 1.5em;
}
.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.menu ul {
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
