/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
/* header */
.header-title {
  font-weight: bold;
  font-size: 1.5em;
}
.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.menu ul {
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 960px;
  margin: 0 auto;
}
/* section1 */

.journey-title {
  font-size: 3em;
  font-weight: bolder;
}

.journey-details {
  font-family: "Lato", sans-serif;
}
.button {
  background-color: rgb(241, 46, 144);
  margin-right: 20px;
  padding: 10px;
  color: white;
  border-radius: 15px;
}

.sec1-img {
  width: 100%;
  height: 100%;
}
.sec1-img {
  overflow: hidden;
}
.sec1-img:hover img {
  transform: scale(1.3) rotate(180deg) skew(30deg);
  transition: transform 3s ease;
}
.sec1 {
  width: 960px;
  display: flex;
  margin: 0 auto;
}
/* hr */

hr {
  width: 960px;
}

/* logo */
.logo {
  width: 960px;
  margin: 0 auto;
}

/* section2 */
.sec2 {
  width: 960px;
  margin: 0 auto;
  margin-top: 80px;
}

h2 {
  text-align: center;
}

.fa-star,
.fa-star-half-alt {
  color: orange;
  font-size: small;
}
.popular-text,
.digit {
  font-family: "Lato", sans-serif;
  opacity: 60%;
  font-weight: bold;
}
.popular-text {
  width: 200px;
  height: 20px;
}
.popular-child {
  margin-right: 30px;
  box-shadow: 4px 4px 12px rgb(172, 162, 162);
  border-radius: 5px;
  background-color: rgb(243, 238, 237);
  width: 330px;
  height: 480px;
  margin-top: 30px;
}
.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.digit {
  font-size: small;
}
.child-img {
  width: 280px;
  height: 246px;
  padding: 15px;
}

/* see more start*/

.see-button {
  color: rgb(241, 46, 144);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-left: 870px;
}

/* see more end */

/* section3 start */
.sec3 {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}
.extra-part {
  display: flex;
  font-family: "Lato", sans-serif;
}

.extra-part-detalis {
  margin-left: 60px;
}

/* section3 end */

/* footer */

footer {
  margin-top: 90px;
}

.footer-class {
  width: 100%;
  height: 230px;
  background-color: rgb(20, 8, 59);
  color: white;
  text-align: center;
  padding-top: 50px;
}
.footer-title {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

p {
  font-family: "Lato", sans-serif;
  font-size: small;
  line-height: 20px;
}

.footer-icon {
  margin-right: 10px;
  padding: 10px;
}
.fa-instagram-square {
  margin-right: 10px;
}
.fa-twitter-square {
  margin-right: 10px;
}
.fa-youtube-square {
  margin-right: 10px;
}

/* media   queries */

/* mobile devices */

@media only screen and (max-width: 688px) {
  .sec1,
  .article,
  .extra-part {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    width: 100%;
  }
}

/* tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .article {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1312px) {
  .sec1,
  .article,
  .article2,
  .extra-part {
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
}
